#!/bin/sh
# this source called from inside the container
# 

#
# will be used to enter/create build_$MACHINE dir
#  
MACHINE=qemux86-64

#
# will be patched into local.conf
# by default sources will be downloaded inside the build directory
# 
DL_DIR=$PWD/../zeus_downloads

#############################

BUILDDATE=$(date +"%Y%m%d%H%M%S")
BUILDERNAME=$HOSTNAME

echo "crreate fwd source"
#
#
# forwarding of variable to the podman driven bitbake shell
#  
#
echo "#"                                                   > "${FWD_PBBSHELL}"
echo "export BUILDERNAME=$BUILDERNAME"                    >> "${FWD_PBBSHELL}"
echo "export BUILDDATE=$BUILDDATE"                        >> "${FWD_PBBSHELL}"
echo "export BB_ENV_EXTRAWHITE=\"BUILDERNAME BUILDDATE\"" >> "${FWD_PBBSHELL}"
