
#
# specify DISTRO if you with to use a predefined Dockerfile
# if you wish to provide a custom one specify one inside env dir
DISTRO="debian_10"

#
# image name
#
PODNAME="debian10"

#
# if you need to enforce a special build user, 
# i.e. for common use on a special build server,
# provide a valid username here. 
# podman_build_shell will check and exit if called from the wrong account
# 
#USE_AS=bob

#
# if you need additional directories mirrored inside the container 
# that were parents of build root directory you need to list these here
# Be careful: don't use any system directories here
# 
# ADD_DIRS=$PWD/xxx

